<section>
  <header class="board-header">
    <div class="header-top-row">
      <h2 class="board-title">Board</h2>
      <button class="primary-button" (click)="$event.stopPropagation(); openAddTask()">
        <span class="button-text">Add task</span>
        <app-svg-db name="add"></app-svg-db>
      </button>
    </div>
    <div class="search-wrapper">
      <input type="text" placeholder="Find Task" [ngModel]="searchQuery()" (ngModelChange)="searchQuery.set($event)">
      <div class="divider"></div>
      <button class="search-btn">
        <app-svg-db name="search"></app-svg-db>
      </button>
    </div>
  </header>

  <div class="board-layout" cdkDropListGroup>
    @for (section of boardSections(); track section.id) {
    <div class="column">

      <div class="column-header">
        <h3>{{section.label}}</h3>
        @if (section.id !== 'done') {
        <button (click)="$event.stopPropagation(); openAddTask(section.id)">
          <app-svg-db name="plus-button"></app-svg-db>
        </button>
        }
      </div>
      <div class="task-card-wrapper" cdkDropList [cdkDropListData]="section.tasks"
        (cdkDropListDropped)="drop($event, section.id)" [cdkDropListOrientation]="getOrientation()">

        @for (task of section.tasks; track task.id) {
        <div class="task-card" cdkDrag [cdkDragData]="task" (click)="openTaskDetails(task.id)">

          <div class="drag-placeholder" *cdkDragPlaceholder></div>

          <p [class]="'type-badge ' + getTaskTypeClass(task.type)">
            {{(task.type)}}
          </p>
          <p class="task-title">{{ task.title }}</p>
          <p class="task-description">{{ task.description }}</p>

          @if (task.subtasks && task.subtasks.length > 0) {
          <div class="subtask-preview">
            <div class="progress-row">
              <div class="progress-bar">
                <div class="progress-fill" [style.width.%]="(getDoneSubtasksCount(task) / task.subtasks.length) * 100">
                </div>
              </div>
              <span>
                {{ getDoneSubtasksCount(task) }}/{{ task.subtasks.length }} Subtasks
              </span>
            </div>
          </div>
          }

          <div class="task-assignment">
            <div class="avatar-stack">
              @for (user of task.assignedToNames.slice(0, 3); track $index) {
              <div class="badge" [style.background-color]="userBadgeService.getColor(task.assignedTo[$index])">
                {{ userBadgeService.getInitials(user) }}
              </div>
              }
              @if (task.assignedToNames.length > 3) {
              <div class="badge more-badge">
                +{{ task.assignedToNames.length - 3 }}
              </div>
              }
            </div>

            <app-svg-db name="cappa-{{task.priority}}"></app-svg-db>
          </div>
        </div>
        } @empty {
        <p class="empty-msg">
          {{ searchQuery() ? 'No matches found' : 'No Tasks ' + (section.label | lowercase) }}
        </p>
        }
      </div>
    </div>
    }
  </div>
</section>

@if (showDetails) {
<div class="dialog-overlay" (click)="closeDetails()">
  <app-board-details (click)="$event.stopPropagation()" (close)="closeDetails()">
  </app-board-details>
</div>
}

@if (addTask) {
<div class="dialog-overlay" (click)="closeAddTask()">
  <app-add-task [initialStatus]="currentAddTaskStatus" [asOverlay]="true" [editTask]="editingTask()"
    (click)="$event.stopPropagation()" (close)="closeAddTask()">
    <button class="close-btn" (click)="closeAddTask()">
      <app-svg-db name="cancel"></app-svg-db>
    </button>
  </app-add-task>
</div>
}