@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

section {
  padding: 64px 64px 32px 64px;
  min-height: calc(100vh - $header-height);
}

.board-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  .header-top-row {
    display: flex;
    align-items: center;
    display: contents;
    gap: 30px;
  }

  .primary-button {
    width: auto;
    order: 3;
  }
}

.drag-placeholder {
  background: rgba(0, 0, 0, 0.05);
  border: dashed 6px #ccc;
  min-height: 200px;
  margin-bottom: 15px;
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transform: rotate(3deg);
  cursor: grabbing;
}

.cdk-drop-list-dragging .task-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-card-wrapper {
  flex: 1;
}

.task-card {
  user-select: none;
  cursor: grab;
  transition: all 0.0.5s ease-in-out;
  margin: 0 0 16px 0;
  padding: 16px;
  justify-content: flex-start;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);

  .type-badge {
    padding: 6px;
    margin-bottom: 8px;
    display: inline-block;
    align-self: flex-start;
    border-radius: 5px;
    color: $color-white;
  }

  .task-title {
    font-weight: 700;
  }

  .task-description,
  .task-title {
    @include line-clamp(2);
    margin: 4px 0;
  }
}

.task-card:active {
  transform: rotate(5deg);
}

.search-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: white;
  border: 1px solid $color-gray;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  max-width: 312px;
  transition: border-color 0.2s;
  order: 2;

  &:focus-within {
    border-color: $color-primary;
  }

  .divider {
    width: 1px;
    height: 32px;
    background-color: $color-gray;
    margin: 0 8px;
  }

  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    @include flex-center;
    border-radius: 50%;

  }
}

.board-layout {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  min-width: 220px;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

app-svg-db:hover {
  color: $color-primary;
}

.user-story {
  background-color: $color-urgent;
}

.technical-task {
  background-color: $color-blue;
}

.task-assignment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar-stack {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.badge {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-left: -8px;
  border: 1px solid white;
  flex-shrink: 0;
}

.badge:first-child {
  margin-left: 0;
}

.more-badge {
  background-color: $color-dark;
}

.empty-msg {
  text-align: center;
  color: $color-light-gray;
  font-style: italic;
  padding: 12px;
  margin-bottom: 16px;
  background-color: $color-dark-gray;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  backdrop-filter: blur(2px);
}

.subtask-preview {
  margin: 16px 0;
}

.progress-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.progress-bar {
  flex: 1;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #4589ff;
  border-radius: 999px;
}

@media (max-width: 1200px) {
  .board-layout {
    flex-direction: column;
  }

  h3 {
    padding-left: 8px;
  }

  .column {
    padding-inline: 0;
  }

  .task-card-wrapper {
    display: flex;
    flex-direction: row;
    padding: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .task-card {
    margin: 0 16px 0 0;
    max-width: 250px;
    min-width: 225px;
    width: 200px;
    flex-shrink: 0;
  }

  section {
    padding: 32px;
    min-height: calc(100vh - $header-height - $footer-height);
  }

}

@media (max-width: 960px) {
  section {
    margin-bottom: $footer-height;
  }
}

@media (max-width: $bp-tablet) {
  .board-header {
    flex-direction: column;
    align-items: flex-start;

    .header-top-row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      order: 1;
    }

    .primary-button {
      padding: 8px;
      order: unset;

      .button-text {
        display: none;
      }
    }

    .search-wrapper {
      order: 2;
      width: 100%;
    }
  }
}

@media (max-width: $bp-mobile) {
  section {
    padding: 16px;
  }
}