<section>
  <header class="board-header">
    <div class="header-top-row">
      <h2 class="board-title">Board</h2>
      <button class="primary-button">
        <span class="button-text">Add task</span>
        <app-svg-db name="add"></app-svg-db>
      </button>
    </div>

    <div class="search-wrapper">
      <input type="text" placeholder="Find Task">
      <div class="divider"></div>
      <button class="search-btn">
        <app-svg-db name="search"></app-svg-db>
      </button>
    </div>
  </header>

  <div class="board-layout">
    @for (section of boardSections(); track $index) {
    <div class="column">
      <div class="column-header">
        <h3>{{section.label}}</h3>
        @if (!(section.id === "done")) {
        <button>
          <app-svg-db (click)="insertFunctionHere()" name="plus-button"></app-svg-db>
        </button>
        }
      </div>
      <div class="task-card-wrapper">
        @for (task of section.tasks; track task.id) {
        <div class="task-card" (click)="openTaskDetails(task.id)">
          <p class="type-badge" [class]="task.type === 'userStory' ? 'user-story' : 'technical-task'">
            {{formatType(task.type)}}</p>
          <p class="task-title">{{ task.title }}</p>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-assignment">
            <div class="avatar-stack">
              @for (user of task.assignedToNames; track user) {
              <div class="badge" [style.background-color]="userBadgeService.getColor(task.assignedTo[$index])">
                {{ this.userBadgeService.getInitials(user) }}
              </div>
              }
            </div>
            <app-svg-db name="cappa-{{task.priority}}"></app-svg-db>
          </div>
        </div>
        } @empty { <p class="empty-msg">No Tasks {{ section.label | lowercase }}</p> }
      </div>
    </div>
    }
  </div>
</section>

@if (showDetails) {
<div class="dialog-overlay" (click)="showDetails = false">
  <app-board-details (click)="$event.stopPropagation()" (close)="showDetails = false">
  </app-board-details>
</div>
}