@if (boardTS.selectedTask(); as task) {
  <div class="detail-card">
    <div class="detail-header">
      <p class="type-badge" [class]="task.type">{{ boardTS.formatType(task.type) }}</p>
      <button (click)="boardTS.close()"><app-svg-db name="cancel"></app-svg-db></button>
    </div>

    <h1>{{ task.title }}</h1>
    <p class="description">{{ task.description }}</p>

    <div class="info-row">
      <span class="label">Due date:</span>
      <span class="value">{{ formatDate(task.due_date) }}</span>
    </div>

    <div class="info-row">
      <span class="label">Priority:</span>
      <div class="value prio-badge">
        {{ task.priority }} 
        <app-svg-db name="prio-{{task.priority}}"></app-svg-db>
      </div>
    </div>

    <div class="assignment-section">
      <p class="label">Assigned To:</p>
      @for (name of task.assignedToNames; track $index) {
        <div class="user-row">
          <div class="initials-circle" 
               [style.background-color]="userBadgeService.getColor(task.assignedTo[$index])">
            {{ userBadgeService.getInitials(name) }}
          </div>
          <span>{{ name }}</span>
        </div>
      }
    </div>

    <div class="subtask-section">
      <p class="label">Subtasks</p>
      <!-- @for (sub of task.subtasks; track sub.id) {
        <label class="subtask-item">
          <input type="checkbox" [checked]="sub.done">
          {{ sub.title }}
        </label>
      } -->
    </div>

    <div class="detail-footer">
      <button class="action-btn delete">
        <app-svg-db name="delete"></app-svg-db> Delete
      </button>
      <div class="divider"></div>
      <button class="action-btn edit">
        <app-svg-db name="edit"></app-svg-db> Edit
      </button>
    </div>
  </div>
}