@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.header {
  height: $header-height;
  background: $color-white;
  box-shadow: 0 4px 4px rgba($color-black, 0.08);
  position: fixed;
  top: 0;
  left: $sidebar-width;
  right: auto;
  width: calc(100% - $sidebar-width);
  max-width: calc($bp-desktop - $sidebar-width);
  z-index: 10;
}

.header__inner {
  height: 100%;
  width: 100%;
  padding-inline: 140px 0;
  @include flex-between;
}

.header__logo {
  --svg-db-width: 32px;
  --svg-db-height: 40px;
  display: none;
  width: 32px;
  height: 40px;
}

.header__title {
  font-size: 20px;
  color: $color-black;
  white-space: nowrap;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  padding-right: 20px;
}

.header__help-link {
  @include flex-center;
}

.header__help {
  --svg-db-width: 20px;
  --svg-db-height: 20px;
  @include icon-size(20px);
  cursor: pointer;
  transition: transform 125ms ease-in-out;

  &:hover {
    transform: scale(1.15);
  }
}



@media (max-width: 960px) {
  .header {
    left: 0px;
    width: 100%;
    max-width: none;
    height: $header-height-mobile;
  }

  .header__inner {
    max-width: none;
    padding-inline: 16px 10px;
  }
  .header__actions {
    padding-right: 0;
  }

  .header__logo {
    display: block;
  }

  .header__title,
  .header__help-link {
    display: none;
  }
}
