:host {
    flex-grow: 1;
    background-color: #F6F7F8;
    overflow: hidden;
}

.contact-details {
    padding: 16px;
    

    h3 {
        font-size: 48px;
        font-weight: 600;
    }

    p {
        font-size: 28px;
    }

    .blue-dash {
        color: #0F83EE;
        font-size: 64px;
        font-weight: 600;
        padding: 0 16px;
    }
}

.details-header {
    display: flex;
    align-items: center;

    >.user-badge {
        width: 120px;
        height: 120px;
        margin-left: 0;
        font-size: 36px;
        border: white 4px solid;
        border-radius: 50%;
        margin: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    }

    p {
        font-size: 18px;
        padding: 4px;
    }
}

.contact-header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.edit-and-delete {
    display: flex;

    >p {
        &:hover {
            color: #29ABE2;
            cursor: pointer;
        }
    }
}

.details-content{
    padding: 16px;
    animation: slideInRight 0.3s ease-out forwards;
}

.details-contact-info {
    padding: 16px;
}

.contact-info-sub {
    padding: 16px;

    p {
        font-size: 18px;
        font-weight: 600;
        padding: 4px;
    }

    a {
        text-decoration: none;
        padding: 4px;
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}