<div class="contact-details">
  <div class="contact-header">
    <h3>Contacts</h3>
    <div class="slogan-div">
            <div class="blue-dash"></div>
        <p class="slogan">Better with a team</p>
        </div>
        <button class="back-arrow-mobile" (click)="goBack()">
            <app-svg-db name="arrow-left"></app-svg-db>
        </button>

    </div>
    <div class="more-options-container">
        <button [class.dis-none]="showMoreOptions" class="more-options-mobile" (click)="toggleMoreOptions(); $event.stopPropagation()">
            <app-svg-db name="more-vertical"></app-svg-db>
        </button>
        @if (showMoreOptions) {
        <div #moreOptions class="more-options">
            <div class="dis-flex" (click)="onEditClick()">
                <app-svg-db name="edit"></app-svg-db>
                <p>Edit</p>
            </div>
            <div class="dis-flex" (click)="onDeleteClick()">
                <app-svg-db name="delete"></app-svg-db>
                <p>Delete</p>
            </div>
        </div>
        }
  </div>
  @if (user) {
    <div class="details-content">
      <div class="details-header">
        <p class="user-badge" [style.backgroundColor]="userBadgeService.getColor(user.id)">
          {{ userBadgeService.getInitials(user.name) }}
        </p>
        <div class="dis-flex-column">
          <p class="username">{{ user.name }}</p>
          <div class="edit-and-delete">
            <div class="edit-options" (click)="onEditClick()">
              <app-svg-db name="edit"></app-svg-db>
              <p>Edit</p>
            </div>
            <div class="edit-options" (click)="onDeleteClick()">
              <app-svg-db name="delete"></app-svg-db>
              <p>Delete</p>
            </div>
          </div>
        </div>
      </div>
      <p class="details-contact-info">Contact Information</p>
      <div class="contact-info-sub">
        <div class="dis-flex-column">
          <p>Email</p>
          <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        </div>
        <div class="dis-flex-column">
          <p>Phone</p>
          <a class="phonenumber" href="tel:{{ user.phone }}"><span>+49 </span>{{ user.phone }}</a>
        </div>
      </div>
    </div>
  } @else {
    <div class="no-selection">
      <p>Select a contact to view details</p>
    </div>
  }
</div>
