$color-dark: rgb(42, 54, 71);
$color-primary: rgb(41, 171, 226);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(168, 168, 168);
$color-bg: rgb(246, 247, 248);

$color-urgent: rgb(255, 61, 0);
$color-medium: rgb(255, 168, 0);
$color-low: rgb(122, 226, 41);