@use '../styles/abstracts/variables' as *;

.app-layout {
  margin-left: 232px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  background: $color-bg;
  width: 100%;
  max-width: 100%;
  
}

@media (max-width: 960px) {
  .app-layout {
    margin-left: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .app-content {
    width: auto;
    max-width: 100%;
    overflow-x: hidden;
  }

}