<section class="add-task-page" (click)="closeDropdowns()">
  @if (isEditMode || addingTaskInBoard) {
  <button class="close-btn" (click)="cancelAction()">
    <app-svg-db name="cancel"></app-svg-db>
  </button>
  }
  <div class="page-container">
    @if (!isEditMode) {
    <header class="page-header">
      <h2>Add Task</h2>
    </header>
    }

    <div class="page-scroll">
      <div class="page-body">
        <div class="column left-column">
          <div class="form-group">
            <label for="task-title">
              Title<span class="required">*</span>
            </label>

            <input id="task-title" type="text" class="form-control" placeholder="Enter a title" [(ngModel)]="title"
              [class.has-value]="title" [class.error]="isSubmitted && !title" />

            @if (isSubmitted && !title) {
            <span class="field-error-text">This field is required</span>
            }
          </div>

          <div class="form-group">
            <label for="task-description">Description</label>

            <div class="textarea-wrapper">
              <textarea id="task-description" class="form-control" placeholder="Enter a Description"
                [(ngModel)]="description" [class.has-value]="description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="task-due-date">
              Due date<span class="required">*</span>
            </label>

            <div class="input-with-icon">
              <input id="task-due-date" type="date" class="form-control" [(ngModel)]="dueDate" [min]="minDate"
                [class.has-value]="dueDate" [class.error]="isSubmitted && !dueDate" />
              <img src="icons/img/calendar.svg" alt="Calendar" />
            </div>

            @if (isSubmitted && !dueDate) {
            <span class="field-error-text">This field is required</span>
            }
          </div>
        </div>

        <div class="divider"></div>

        <div class="column right-column">
          <div class="form-group">
            <label>Priority</label>

            <div class="priority-buttons">
              <button type="button" class="btn-priority urgent" [class.active]="selectedPriority === 'urgent'"
                (click)="selectPriority('urgent')">
                Urgent
                <img src="icons/img/high2.svg" alt="Urgent" />
              </button>

              <button type="button" class="btn-priority medium" [class.active]="selectedPriority === 'medium'"
                (click)="selectPriority('medium')">
                Medium
                <img src="icons/img/medium.svg" alt="Medium" />
              </button>

              <button type="button" class="btn-priority low" [class.active]="selectedPriority === 'low'"
                (click)="selectPriority('low')">
                Low
                <img src="icons/img/low2.svg" alt="Low" />
              </button>
            </div>
          </div>

          <div class="form-group">
            <label>Assigned to</label>

            <div class="custom-select-wrapper" (click)="toggleDropdown($event)">
              <div class="form-control select-display" [class.has-value]="selectedContacts.length > 0">
                <span>Select contacts to assign</span>

                <div class="arrow-btn">
                  <img src="icons/img/pic.svg" alt="Dropdown" [class.rotated]="dropdownOpen" />
                </div>
              </div>

              @if (dropdownOpen) {
              <div class="dropdown-list">
                <div class="contact-search-wrapper" (click)="$event.stopPropagation()">
                  <input type="text" class="contact-search-input" placeholder="Search contacts"
                    [(ngModel)]="contactSearch" />
                </div>

                @for (contact of filteredContacts; track contact.id) {
                <div class="dropdown-item" [class.selected]="isSelected(contact)"
                  (click)="toggleContact(contact, $event)">
                  <div class="contact-info">
                    <div class="avatar" [style.backgroundColor]="contact.color">
                      {{ contact.initials }}
                    </div>

                    <span>{{ contact.name }}</span>
                  </div>

                  <div class="checkbox-btn">
                    <img [src]="
                            isSelected(contact)
                              ? 'icons/img/cb1.svg'
                              : 'icons/img/cb0.svg'
                          " alt="Checkbox" class="custom-checkbox-icon" />
                  </div>
                </div>
                }
              </div>
              }
            </div>

            <div class="selected-avatars">
              @for (contact of selectedContacts.slice(0, 4); track contact.id) {
              <div class="avatar stacked-avatar" [style.backgroundColor]="contact.color">
                {{ contact.initials }}
              </div>
              }

              @if (selectedContacts.length > 4) {
              <div class="avatar more-avatar">
                +{{ selectedContacts.length - 4 }}
              </div>
              }
            </div>
          </div>

          <div class="form-group">
            <label>
              Category<span class="required">*</span>
            </label>

            <div class="custom-select-wrapper" (click)="toggleCategoryDropdown($event)">
              <div class="form-control select-display" [class.has-value]="taskType"
                [class.error]="isSubmitted && !taskType">
                <span>
                  {{ taskType ? taskType : 'Select task category' }}
                </span>

                <div class="arrow-btn">
                  <img src="icons/img/pic.svg" alt="Dropdown" [class.rotated]="categoryDropdownOpen" />
                </div>
              </div>

              @if (categoryDropdownOpen) {
              <div class="dropdown-list">
                <div class="dropdown-item" (click)="selectCategory('Technical Task', $event)">
                  <span>Technical Task</span>
                </div>

                <div class="dropdown-item" (click)="selectCategory('User Story', $event)">
                  <span>User Story</span>
                </div>
              </div>
              }
            </div>

            @if (isSubmitted && !taskType) {
            <span class="field-error-text">This field is required</span>
            }
          </div>

          <div class="form-group">
            <label for="task-subtask">Subtasks</label>

            <div class="subtask-wrapper">
              <input id="task-subtask" type="text" class="form-control" placeholder="Add new subtask"
                [(ngModel)]="newSubtaskText" [class.has-value]="newSubtaskText" (keyup.enter)="addSubtask()" />

              <div class="subtask-actions">
                <div class="subtask-btn" (click)="clearSubtaskInput()">
                  <img src="icons/img/close.svg" alt="Clear" />
                </div>

                <div class="action-divider"></div>

                <div class="subtask-btn" (click)="addSubtask()">
                  <img src="icons/img/check.svg" alt="Add" class="check-icon" />
                </div>
              </div>
            </div>

            @if (newSubtasks.length > 0) {
            <div class="new-subtasks-list">
              @for (subtask of newSubtasks; track $index) {
              <div class="new-subtask-item">
                <span>• {{ subtask.subtaskText }}</span>

                <div class="subtask-list-actions">
                  <div class="subtask-btn" (click)="editNewSubtask($index)">
                    <img src="icons/img/pen.svg" alt="Edit" />
                  </div>

                  <div class="icon-divider-small"></div>

                  <div class="subtask-btn" (click)="removeNewSubtask($index)">
                    <img src="icons/img/delete.svg" alt="Delete" />
                  </div>
                </div>
              </div>
              }
            </div>
            }
          </div>
        </div>
      </div>

      <div class="required-note">
        <span class="required">*</span>This field is required
      </div>

      @if (errorMessage) {
      <div class="error-message">
        {{ errorMessage }}
      </div>
      }
    </div>

    <footer class="page-footer">
      <div class="actions">
        @if (!isEditMode) {
        <button type="button" class="btn-cancel"
          (click)="(isEditMode || addingTaskInBoard) ? cancelAction() : clearForm()">
          {{ (isEditMode || addingTaskInBoard) ? 'Cancel' : 'Clear' }}
          <app-svg-db name="cancel"></app-svg-db>
        </button>
        }

        <button type="button" class="btn-create" (click)="submitTask()">
          {{ isEditMode ? 'OK' : 'Create Task' }}
          <img src="icons/img/check.svg" alt="Create" />
        </button>
      </div>
    </footer>
  </div>

  @if (showSuccessMessage) {
  <div class="success-message">
    <img src="icons/img/tasksucces.svg" alt="Task successfully created" />
  </div>
  }
</section>
