@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.board-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;

  .primary-button {
    width: auto;
  }
}

.header-actions {
  display: flex;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
}

.board-layout {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - $header-height);
}

.column {
  flex: 1;
  border-radius: 10px;
  padding: 10px;
  min-width: 250px;
}

.column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px;

  .done {
    padding: 6.5px 0;
  }
}

.task-card {
  margin: 16px 0;
  padding: 16px;
  justify-content: flex-start;
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);

  .type-badge {
    padding: 6px;
    margin-bottom: 8px;
    width: auto;
    display: inline-block;
    border-radius: 5px;
    color: $color-white;
  }

  .task-title {
    font-weight: 700;
    margin: 8px 0;
  }

  .task-description,
  .task-title {
    @include line-clamp(2);
  }
}

.user-story {
  background-color: $color-blue;
}

.technical-task {
  background-color: $color-mint;
}

.empty-msg {
  text-align: center;
  color: $color-light-gray;
  font-style: italic;
  padding: 12px;
  background-color: $color-dark-gray;
  border: 2px dashed #ccc;
  border-radius: 8px;
}

app-svg-db {
  padding: 6px;

  &:hover {
    color: $color-primary;
  }
}