<nav class="navigation">
  <app-svg-db class="navigation__logo" name="navigation-logo" role="img" aria-label="Join Logo"></app-svg-db>
  

  <div class="navigation__links">
    @if (isLoggedIn) {
      <a
        class="navigation__link navigation__link--summary"
        routerLink="/summary"
        routerLinkActive="navigation__link--active"
        (click)="requestSummaryIntro()"
      >
        <app-svg-db name="summary"></app-svg-db>
        <span>Summary</span>
      </a>

      <a
        class="navigation__link"
        routerLink="/add-task"
        routerLinkActive="navigation__link--active"
      >
        <app-svg-db name="add-task"></app-svg-db>
        <span>Add Task</span>
      </a>

      <a class="navigation__link" routerLink="/board" routerLinkActive="navigation__link--active">
        <app-svg-db name="board"></app-svg-db>
        <span>Board</span>
      </a>

      <a
        class="navigation__link"
        routerLink="/contacts"
        routerLinkActive="navigation__link--active"
      > <app-svg-db name="contacts"></app-svg-db>
        <span>Contacts</span>
      </a>
    } @else {
      <a class="navigation__link" routerLink="/login" routerLinkActive="navigation__link--active" [routerLinkActiveOptions]="{ exact: true }">
        <app-svg-db name="login"></app-svg-db>
        <span>Log in</span>
      </a>

      <a class="navigation__link navigation__mobile-legal" routerLink="/info/privacy" routerLinkActive="navigation__link--active">
        <span>Privacy Policy</span>
      </a>

      <a class="navigation__link navigation__mobile-legal" routerLink="/info/legal" routerLinkActive="navigation__link--active">
        <span>Legal notice</span>
      </a>
   
   
    }
  </div>

 
    <div class="navigation__legal">
      <a routerLink="/info/privacy" routerLinkActive="navigation__legal--active"
        >Privacy Policy</a
      >
      <a routerLink="/info/legal" routerLinkActive="navigation__legal--active">Legal notice</a>
    </div>

</nav>
