<nav class="navigation">
  <img class="navigation__logo" src="images/join-sidebar.png" alt="Join Logo" />

  <div class="navigation__links">
    <a class="navigation__link navigation__link--active" href="#">
      <img src="icons/summary.png" alt="" />
      <span>Summary</span>
    </a>

    <a class="navigation__link" href="#">
      <img src="icons/task.png" alt="" />
      <span>Add Task</span>
    </a>

    <a class="navigation__link" href="#">
      <img src="icons/board.png" alt="" />
      <span>Board</span>
    </a>

    <a class="navigation__link" href="#">
      <img src="icons/contacts.png" alt="" />
      <span>Contacts</span>
    </a>
  </div>

  <div class="navigation__legal">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal notice</a>
  </div>
</nav>