@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/mixins' as *;

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 232px;
  height: 100vh;
  background-color: $color-dark;
  color: $color-white;
  display: flex;
  flex-direction: column;
  padding: 64px 0 56px;
}


.navigation__logo {
  width: 100px;
  margin: 0 auto 112px;
}

.navigation__links {
  display: flex;
  flex-direction: column;
}
.navigation__link {
  @include flex-center;
  justify-content: flex-start;

  gap: 12px;
  padding: 10px 56px;
  margin-bottom: 12px;
  color: $color-gray;
  font-size: 16px;
  font-weight: 400;

  transition:
    background-color 125ms ease-in-out,
    color 125ms ease-in-out,
    font-weight 125ms ease-in-out;

  img {
    @include icon-size(30px);
    transition:
      filter 125ms ease-in-out,
      opacity 125ms ease-in-out;

    opacity: 0.8;
  }

  &:not(.navigation__link--active):hover {
    background-color: rgba($color-white, 0.07);
    font-weight: 500;

    img {
      opacity: 1;
    }
  }

  &--active {
    background-color: $color-secondary;
    color: $color-white;
    font-weight: 500;
    pointer-events: none;

    img {
      filter: brightness(0) invert(1);
      opacity: 1;
    }
  }
}
.navigation__legal {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 56px;

    color: $color-gray;
    font-size: 14px;
    font-weight: 400;

    transition:
      background-color 125ms ease-in-out,
      color 125ms ease-in-out,
      font-weight 125ms ease-in-out;

    &:hover {
      color: $color-primary;
      font-weight: 500;
    }

    &.navigation__legal--active {
      background-color: $color-secondary;
      color: $color-white;
      font-weight: 500;
      pointer-events: none;
    }
  }
}


@media (max-width: 800px) {
  .navigation {
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding:0 64px;
  }

  .navigation__logo,
  .navigation__legal {
    display: none;
  }

  .navigation__links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .navigation__link {
    @include flex-center;

    position: relative;
    flex: 1;
    min-width: 0;
    height: 100%;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    font-size: 14px;
    text-align: center;
    background-color: transparent;
    border-radius: 0;

    img,
    span {
      position: relative;
      z-index: 2;
    }

    img {
      @include icon-size(24px);
    }

    &:not(.navigation__link--active):hover {
      background-color: transparent;
    }

    &::before {
      content: '';
      position: absolute;
      width: 72px;
      height: 72px;
      border-radius: 12px;
      background-color: transparent;
      transition: background-color 125ms ease-in-out;
      
    }

    &:not(.navigation__link--active):hover::before,
    &--active::before {
      background-color: rgba($color-black, 0.24);
    }

    &--active {
      pointer-events: none;
    }
  }
}
